a:link {
    color: LightSlateGrey;
}

a:visited {
    color: DarkSlateGrey;
}

h1,h2,h3.h4 {
    color: DarkSlateGrey;
}

.inline-list {
    margin-left: 0;
}

.inline-list li {
    display: inline;
    padding-right: 12px;
}


body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.footer {
    clear: both;
    margin-top: 5em;
    padding-top: 2em;
    background-color: #eeeeee;
    border: dotted thin LightSlateGrey;
    padding-bottom: 10em;
    height: 100px;
    bottom: 0;
}

.footer .inline-list {
    border-top: solid thin;
    padding-top: 0.5em;
}

#imgs {
    border-top: solid thin LightSlateGrey;
    border-bottom: solid thin LightSlateGrey;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}

fieldset {
    border: thin none;
    background-color: Azure;
}

div.wiki {
}

div.wiki * img.creole {
    float: right;
    margin: 30px -100px 30px 50px;
    border: solid thin LightSlateGrey;
}

/* Override some bootstrap styles */

.form-horizontal div.control-group {
    margin-bottom: 2px;
}

div.controls span,
div.controls textarea,
div.controls input {
    width: 30em;
    margin-top: 5px;
}

fieldset {
    width: 100%;
}

fieldset input[type=submit] {
    margin-top: 2em;
    clear: both;
    float: right;
}

#register-message {
    margin-top: 3em;
}

#keys .panel table  {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 95%;
    background-color: #eeeeee;
}

#keys .panel table td {
    padding: .5em;
}



textarea[name=keytext] {
    width: 400px;
}

.hero-unit {
    background-color: Gold;
    color: DarkSlateGrey;
}

.hero-unit #login {
    margin-top: -2em;
}

#chat-header,
#user-header,
#registered-header {
    background-color: Gold;
    color: DarkSlateGrey;
    margin-bottom: 3em;
}

#user-console,
#please-verify {
    height: 200px;
}

/* top stuff */
.logo {
    float: right;
    margin-top: .5em;
}

.logo * {
    margin: .1em;
}


/* Chat window styles */

.chat h1 {
    color: DarkSlateGrey;
}

#carousel {
    margin-left: 10px;
    margin-right: 10px;
    height: 800px;
}

#chat-panel {
    overflow: auto;
    height: 100%;
}

#media-panel {
    height: 500px;
}

#gravatars {
    margin-top: 2em;
    padding: .5em;
    border-top: solid thin;
    width: 500px;
}

#gravatars abbr {
    display: block;
    float: left;
    border-bottom: none;
    height: 80px;
    width: 80px;
    margin-left: 5px;
    padding: 10px;
}

#gravatars abbr a {
    position: relative;
    top: -20px;
    left: -5px;
}

.nick-select-hover {
    background-color: Khaki;
    border: solid thin DarkKhaki;
}

.nick-selected {
    background-color: DarkKhaki;
    border: solid thin Khaki;
}

#gravatars p {
    clear: both;
    margin-top: 0;
    padding-top: 0;
}

#list-channels {
    margin-left: 20px;
    margin-top: -5px;
}

#channel-list {
    margin-top: 2em;
}

#videoaccept {
    width: 70%;
    margin: 3em auto;
    text-align: center;
}

#videocall {
    border: solid thin LemonChiffon;
}

#videobtnbar {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#video {
    height: 310px;
    width: 620px;
}


#paste-panel pre {
    height: 500px;
    overflow: auto;
}

#paste-text-panel textarea {
    width: 95%;
}

/* chat-panel styles */

table.chat {
    background-color: LemonChiffon;
    width: 100%;
    margin: 0;
}

table.chat tr td {
    border-bottom: solid thin;
}

td.username {
    font-style: italic;
    color: DarkGrey;
    width: 10%;
    padding-right: 1em;
    vertical-align: top;
    text-align: right;
}

td.message {
    width: 90%;
}


/* End */