a:link {
    color: LightSlateGrey;
}


a:visited {
    color: DarkSlateGrey;
}

body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.footer {
    clear: both;
    margin-top: 5em;
    padding-top: 2em;
    background-color: #eeeeee;
    padding-bottom: 10em;
    height: 100px;
    bottom: 0;
}

fieldset {
    border: thin none;
    background-color: Azure;
}

/* Override some bootstrap styles */

.form-horizontal div.control-group {
    margin-bottom: 2px;
}

div.controls span,
div.controls textarea,
div.controls input {
    width: 30em;
    margin-top: 5px;
}

fieldset {
    width: 100%;
}

fieldset input[type=submit] {
    margin-top: 2em;
    clear: both;
    float: right;
}

#register-message {
    margin-top: 3em;
}

.hero-unit {
    background-color: Gold;
    color: DarkSlateGrey;
}

.hero-unit #login {
    margin-top: -2em;
}

#chat-header,
#user-header,
#registered-header {
    background-color: Gold;
    color: DarkSlateGrey;
    margin-bottom: 3em;
}

#user-console,
#please-verify {
    height: 200px;
}

/* Chat window styles */

.chat h1 {
    color: DarkSlateGrey;
}

#carousel {
    margin-left: 10px;
    margin-right: 10px;
}

#chat-panel {
    overflow: auto;
    height: 100%;
}

#media-panel {
    height: 500px;
}

#video {
    height: 300px;
    border: solid thin LemonChiffon;
}

#emails abbr {
    margin-left: 5px;
}

#paste-panel pre {
    height: 500px;
    overflow: auto;
}

#paste-text-panel textarea {
    width: 95%;
}

/* chat-panel styles */

table#chat {
    background-color: LemonChiffon;
    width: 100%;
    margin: 0;
}

table#chat tr td {
    border-bottom: solid thin;
}

td.username {
    font-style: italic;
    color: DarkGrey;
    width: 10%;
    padding-right: 1em;
    vertical-align: top;
    text-align: right;
}

td.message {
    width: 90%;
}

/* media-panel styles */

.media-inset {
    margin-top: 2em;
    padding: .5em;
    border-top: solid thin;
}


/* End */