a:link {
    color: LightBlue;
}

a:visited {
    color: DarkBlue;
}

body {
}


#chat-header {
    color: #4b5451;
    background-color: LightBlue;
}

div.logo + h1 {
    color: #4b5451;
}


.footer {
    background-color: #4b5451;
}

.footer * a:visited {
    color: SlateBlue;
}

.footer * a:link {
    color: LightBlue;
}
